*, *:before, *:after {box-sizing: border-box;}


* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #000;
}

header {
  width: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.ubicacion {
  width: 100%;
  background: #18582a;
  border-bottom: 3px solid #8db43a;
}

.contenedortotal {
  width: 80%;
  margin:auto;
}

.contenedortotal h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 13px 0px;
  font-size: 15px;
  color: #fff;
  float: left;
  margin-right: 500px;
}

.contenedortotal span {
  padding-right: 10px;
  font-size: 20px;
}

.contenedortotal h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #fff;
  padding: 13px 0px;
  font-size: 15px;
}

.contenedortotal span {
  padding-right: 10px;
}

.menu {
  width: 100%;
  overflow: hidden;
  padding: 0px 0px;
  border-bottom: 1px solid rgb(222, 222, 222);
  background: #fff;
  z-index: 998;
}

.logo {
  float: left;
  width: 15%;
}

.logo img {
  width: 250px;
  padding-top: 10px;

}

nav {
  width: 60%;
  float: left;
  padding-right: 10px;
}

nav ul {
 float: right;
 margin: 0;
}

nav ul li {
 float: left;
 list-style: none;
 border-right: 1px solid rgb(241, 241, 241);
}

nav ul li a {
  color: #000;
  font-size: 20px;
  text-transform: uppercase;
  margin: 30px 15px;
  float: left;
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
}

.redes {
  padding: 30px 0px 0px 0px;
}

.redes a span {
  font-size: 25px;
  padding: 25px 10px;
  padding-left: 15px;
  color: #000;
}

.redes a span:hover {
  color: #777;
  transition: 0.5s;
}

/*--Fin De Header--*/


svg {
  display: block;
  overflow: visible;
}

.slider-container {
  position: relative;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: all-scroll;
}

.slider-control {
  z-index: 2;
  position: absolute;
  top: 0;
  width: 12%;
  height: 100%;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  will-change: opacity;
  opacity: 0;
}
.slider-control.inactive:hover {
  cursor: auto;
}
.slider-control:not(.inactive):hover {
  opacity: 1;
  cursor: pointer;
}
.slider-control.left {
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.18)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
}
.slider-control.right {
  right: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.18)));
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.18) 100%);
}

.slider-pagi {
  position: absolute;
  z-index: 3;
  left: 50%;
  bottom: 2rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 0;
  list-style-type: none;
}
.slider-pagi__elem {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
}
.slider-pagi__elem:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1.2rem;
  height: 1.2rem;
  background: #fff;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}
.slider-pagi__elem.active:before, .slider-pagi__elem:hover:before {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.slider {
  z-index: 1;
  position: relative;
  height: 100%;
}
.slider.animating {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  will-change: transform;
}
.slider.animating .slide__bg {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  will-change: transform;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slide.active .slide__overlay,
.slide.active .slide__text {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.slide__bg {
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background-size: cover;
  will-change: transform;
}
.slide:nth-child(1) {
  left: 0;
}
.slide:nth-child(1) .slide__bg {
  left: 0;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/3d-slider-3.jpg");
}
.slide:nth-child(1) .slide__overlay-path {
  fill: #e99c7e;
}
@media (max-width: 991px) {
  .slide:nth-child(1) .slide__text {
    background-color: rgba(233, 156, 126, 0.8);
  }
}
.slide:nth-child(2) {
  left: 100%;
}
.slide:nth-child(2) .slide__bg {
  left: -50%;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/3d-slider-2.jpg");
}
.slide:nth-child(2) .slide__overlay-path {
  fill: #e1ccae;
}
@media (max-width: 991px) {
  .slide:nth-child(2) .slide__text {
    background-color: rgba(225, 204, 174, 0.8);
  }
}
.slide:nth-child(3) {
  left: 200%;
}
.slide:nth-child(3) .slide__bg {
  left: -100%;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/3d-slider-1.jpg");
}
.slide:nth-child(3) .slide__overlay-path {
  fill: #adc5cd;
}
@media (max-width: 991px) {
  .slide:nth-child(3) .slide__text {
    background-color: rgba(173, 197, 205, 0.8);
  }
}
.slide:nth-child(4) {
  left: 300%;
}
.slide:nth-child(4) .slide__bg {
  left: -150%;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/3d-slider-4.jpg");
}
.slide:nth-child(4) .slide__overlay-path {
  fill: #cbc6c3;
}
@media (max-width: 991px) {
  .slide:nth-child(4) .slide__text {
    background-color: rgba(203, 198, 195, 0.8);
  }
}
.slide__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slide__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  min-height: 810px;
  -webkit-transition: opacity 0.2s 0.5s, -webkit-transform 0.5s 0.5s;
  transition: opacity 0.2s 0.5s, -webkit-transform 0.5s 0.5s;
  transition: transform 0.5s 0.5s, opacity 0.2s 0.5s;
  transition: transform 0.5s 0.5s, opacity 0.2s 0.5s, -webkit-transform 0.5s 0.5s;
  will-change: transform, opacity;
  -webkit-transform: translate3d(-20%, 0, 0);
          transform: translate3d(-20%, 0, 0);
  opacity: 0;
}
@media (max-width: 991px) {
  .slide__overlay {
    display: none;
  }
}
.slide__overlay path {
  opacity: 0.8;
}
.slide__text {
  position: absolute;
  width: 25%;
  bottom: 15%;
  left: 12%;
  color: #fff;
  -webkit-transition: opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
  transition: opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
  transition: transform 0.5s 0.8s, opacity 0.5s 0.8s;
  transition: transform 0.5s 0.8s, opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
  will-change: transform, opacity;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
}
@media (max-width: 991px) {
  .slide__text {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20rem;
    text-align: center;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    -webkit-transition: opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
    transition: opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
    transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
    transition: transform 0.5s 0.5s, opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
    padding: 0 1rem;
  }
}
.slide__text-heading {
  font-family: "Polar", Helvetica, Arial, sans-serif;
  font-size: 5rem;
  margin-bottom: 2rem;
}
@media (max-width: 991px) {
  .slide__text-heading {
    line-height: 20rem;
    font-size: 3.5rem;
  }
}
.slide__text-desc {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}
@media (max-width: 991px) {
  .slide__text-desc {
    display: none;
  }
}
.slide__text-link {
  z-index: 5;
  display: inline-block;
  position: relative;
  padding: 0.5rem;
  cursor: pointer;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 2.3rem;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
@media (max-width: 991px) {
  .slide__text-link {
    display: none;
  }
}
.slide__text-link:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: rotateX(-85deg);
          transform: rotateX(-85deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  will-change: transform;
}
.slide__text-link:hover:before {
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}

/**Fin Slider**/

.grid {
  width: 100%;
  overflow: hidden;
  background-image: url('../imagenes/fondocont.jpg');
  background-attachment: fixed;
  background-size: cover;
}

.grid .contenedorgrid {
  width: 50%;
  float: right;
  background: rgba(2, 59, 9, 0.81);
}

.contenedorgrid h2 {
  font-size: 40px;
  font-weight: 300;
  font-family: 'Oswald', sans-serif;
  padding: 50px 0px 10px 0px;
  margin: 0px 450px 0px 50px;
  color: #fff;
  border-bottom: 3px solid #8bb533;
}

.contenedorgrid p {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  padding: 20px 150px 20px 50px;
  line-height: 25px;
  font-weight: 100;
  color: #fff;
}

.contenedorgrid .botonir {
  background: #fff;
  color: #000;
  padding: 6px 50px;
  margin: 20px 180px 50px 0px;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  float: right;
  border-radius: 50px;
  border: 2px solid #fff;
  -webkit-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.51);
-moz-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.51);
box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.51);
}

.contenedorgrid .botonir:hover {
  background: none;
  transition: 0.5s;
  color: #fff;
  box-shadow: none;
}


/** fin grid **/

.contenedoraccordian {
  width: 100%;
  overflow: hidden;
}

.contenedoraccordian h2 {
  font-size: 40px;
  text-align: center;
  font-weight: 300;
  padding: 50px 0px 0px 0px;
  font-family: 'Oswald', sans-serif;
}

.accordian {
	width: 805px;
  height: 305px;
	overflow: hidden;
	/*Time for some styling*/
	margin: 50px auto;
  -webkit-box-shadow: 0px 22px 26px -14px rgba(0,0,0,0.31);
-moz-box-shadow: 0px 22px 26px -14px rgba(0,0,0,0.31);
box-shadow: 0px 22px 26px -14px rgba(0,0,0,0.31);

}


/*A small hack to prevent flickering on some browsers*/
.accordian ul {
	width: 2000px;
	/*This will give ample space to the last item to move
	instead of falling down/flickering during hovers.*/
}

.accordian li {
	position: relative;
	display: block;
	width: 160px;
	float: left;

	border-left: 1px solid #888;

	box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);

	/*Transitions to give animation effect*/
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	/*If you hover on the images now you should be able to
	see the basic accordian*/
}

/*Reduce with of un-hovered elements*/
.accordian ul:hover li {width: 40px;}
/*Lets apply hover effects now*/
/*The LI hover style should override the UL hover style*/
.accordian ul li:hover {width: 640px;}


.accordian li img {
	display: block;
}

/*Image title styles*/
.image_title {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0; bottom: 0;
width: 640px;

}
.image_title a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 20px;
	font-size: 16px;
}

/**Fin Contenedor Fotos**/

.bosque {
  width: 100%;
  height: 450px;
  overflow: hidden;
  background-image: url('../imagenes/cover.jpg');
  background-size: cover;
  background-attachment: fixed;
  border-top: 4px solid rgb(7, 70, 19);
}

.contenedorbos {
  width: 80%;
  margin:auto;
}

.contenedorbos h2 {
  max-width: 300px;
  margin:auto;
  text-align: center;
  font-size: 40px;
  font-weight: 300;
  padding: 70px 0px 20px 0px;
  font-family: 'Oswald', sans-serif;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-bottom: 2px solid #8bb533;
}

.contenedorbos p {
  font-size: 22px;
  font-weight: 300;
  padding: 50px 0px 50px 0px;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  text-align: center;

}

.contenedorbos .botonbos {
  background: #fff;
  color: #000;
  padding: 6px 50px;
  margin: 20px 0px 50px 410px;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  border-radius: 50px;
  border: 2px solid #fff;
  -webkit-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.51);
-moz-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.51);
box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.51);
text-align: center;
}

.contenedorbos .botonbos:hover {
  background: rgba(10, 88, 32, 0.61);
  transition: 0.5s;
  color: #fff;
  box-shadow: none;
}

/**fin Contenedor Bosque**/


.productos {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid rgb(232, 232, 232);
}

.productos h2 {
  font-size: 45px;
  font-weight: 300;
  text-shadow: 1px 1px 1px #333;
  font-family: 'Oswald', Arial, sans-serif;
  text-align: center;
  padding: 50px 0px 0px 0px;
  border-bottom: 2px solid #8bb533;
  max-width: 300px;
  margin:auto;
}

.contenedorprod {
  width: 80%;
  margin:auto;
}

figure.snip1256 {
  font-family: 'Oswald', sans-serif;
  color: #fff;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 50px 0px 50px 27px;
  min-width: 220px;
  max-width: 330px;
  max-height: 240px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  background-color: #07090c;
  font-size: 16px;
  -webkit-perspective: 50em;
  perspective: 50em;
  -webkit-box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.47);
-moz-box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.47);
box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.47);
}
figure.snip1256 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
figure.snip1256 img {
  opacity: 1;
  width: 100%;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
figure.snip1256 figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% -50%;
  -ms-transform-origin: 50% -50%;
  transform-origin: 50% -50%;
  z-index: 1;
  opacity: 0;
  padding: 20px 30px;
}
figure.snip1256 h3,
figure.snip1256 p {
  line-height: 1.5em;
}
figure.snip1256 h3 {
  margin: 0;
  font-weight: 800;
  font-size: 30px;
  text-transform: uppercase;
}
figure.snip1256 p {
  font-size: 22px;
  font-weight: 200;
  margin: 0 0 15px;
}
figure.snip1256 .read-more {
  border: 2px solid #ffffff;
  padding: 0.5em 25px;
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
}
figure.snip1256 .read-more:hover {
  background-color: #ffffff;
  color: #000000;
}
figure.snip1256:hover img,
figure.snip1256.hover img {
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  opacity: 0;
}
figure.snip1256:hover figcaption,
figure.snip1256.hover figcaption {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

/**Fin Contenedor Productos**/


.videoyou {
  width: 100%;
  overflow: hidden;
  padding: 50px 0px;
}

.contenedorvid {
  width: 80%;
  margin:auto;
}

.contenidovid {
  width: 50%;
  float: left;
}

.contenidovid img {
  padding: 0px 0px 0px 100px;
}

.contenidovid h2 {
  font-size: 40px;
  font-weight: 300;
  font-family: 'Oswald', sans-serif;
  padding: 0px 0px 0px 50px;
}

.contenidovid p {
  width: 80%;
  font-size: 20px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  padding: 20px 0px 0px 50px;
}

/**fin contenedor videoyou**/

.footer {
  width: 100%;
  overflow: hidden;
  padding: 0px 0px 0px 0px;
  border-top: 3px solid #0c5525;
}

.contenedorfoo {
  width: 80%;
  margin:auto;

}

.contentfooter {
  width: 25%;
  float: left;
  border-right: 1px solid rgb(223, 223, 223);
  height: 250px;
  padding: 50px 0px 0px 30px;
}

.contentfooter:last-child {
  border-right: none;

}

.contentfooter img {
  padding: 0px 0px 0px 50px;
}

.contentfooter h3 a {
  font-size: 30px;
  font-weight: 200;
  font-family: 'Oswald', sans-serif;
  padding: 10px 0px 0px 20px;
  color: #000;
}

.contentfooter span {
  font-size: 40px;
  color: #000;
  padding: 50px 0px 0px 15px;
}
